* {
    padding:0;
    margin:0;
    top:0;
    left:0;
}

.authMenu {
    display: flex;
}

.authMenuItemImg, .authMenuItemImg img {
    width: 20px;
    height: 20px;
}
.authMenuItemText {
    display: none;
}


.authMenuItemImgActive, .authMenuItemImgActive img {
    width: 35px;
    height: 35px;
}

.authMenuItemImgActive + .authMenuItemText {
    display: block;
}
.authBlock {
    display: none;
}

.authBlockActive {
    display: block;
}
.authPhoneCountry {
    display: block;
}
.systemMessageOverlay{
    position: absolute;
    width: 100%;
    height: calc(100vh);
    background-color: rgba(128,128,128, 0.8);
    z-index: 100;
    display: none;
}

.systemMessage{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 600px;
    height: 250px;
    background-color: white;
    border-color: red;
    border: solid 1px red;
    z-index: 999;
    box-shadow: 10px 10px 3px rgba(0,0,0, 0.5);
    border-radius: 10px;
}
.systemCloseButton{
    min-width: 100px;
    min-height: 30px;
    width: 100px;
    background-color: red;
    text-align: center;
    padding-top: 8px;
    border-radius: 3px;
    top: 0px;
    position: relative;
    left: 80%;
    color: white;
    cursor: pointer;    
}
.systemCloseButton:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
}
.systemMessageText{
    width: 90%;
    height: 150px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    margin-left: 20px;
    margin-top: 50px;
    align-content: center;
    align-items: center;
}

